/* About Me */

.about--section {
    display: grid;
    padding: 133.3px 85.3px;
    align-items: center;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
  .about--section--img > img {
    width: 70%;
    height: 70%;
  }
  
  /* About Me Ends*/